.env
~$UG MARKS.xlsx
main.py
output_csv.csv
test.py
UG MARKS.csv
UG MARKS.xlsx
__pycache__/main.cpython-311.pyc
__pycache__/app.cpython-311.pyc
LangChain Cookbook Part 1 - Fundamentals (1).ipynb
LangChain Cookbook Part 2 - Use Cases.ipynb
Agents.ipynb
pandas.ipynb
__pycache__/webhook.cpython-311.pyc
